src/common/session.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 Jérémie Galarneau <jeremie.galarneau@efficios.com>

SPDX-License-Identifier: MIT

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" version="2.16">

<xs:simpleType name="name_type">
	<xs:restriction base="xs:string">
		<xs:maxLength value="255"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="uint64_type">
	<xs:restriction base="xs:integer">
		<xs:minInclusive value="0"/>
		<xs:maxInclusive value="18446744073709551615"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="positive_uint64_type">
	<xs:restriction base="xs:integer">
		<xs:minInclusive value="1"/>
		<xs:maxInclusive value="18446744073709551615"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="uint32_type">
	<xs:restriction base="xs:integer">
		<xs:minInclusive value="0"/>
		<xs:maxInclusive value="4294967295"/>
	</xs:restriction>
</xs:simpleType>

<!-- Maps to enum lttng_channel_allocation_policy -->
<xs:simpleType name="channel_allocation_policy_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="PER_CPU" />
		<xs:enumeration value="PER_CHANNEL" />
	</xs:restriction>
</xs:simpleType>

<!-- Maps to enum lttng_channel_allocation_policy -->
<xs:simpleType name="channel_preallocation_policy_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="PREALLOCATE" />
		<xs:enumeration value="ON_DEMAND" />
	</xs:restriction>
</xs:simpleType>

<!--
Maps to the range allowed for blocking timeout: -1 (block forever),
0 (do not block), positive integer value (blocking time in usec) limited
by its signed 32-bit representation when converted to msec.
-->
<xs:simpleType name="blocking_timeout_type">
	<xs:restriction base="xs:integer">
		<xs:minInclusive value="-1" />
		<xs:maxInclusive value="2147483648000" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="channel_overwrite_mode_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="DISCARD"/>
		<xs:enumeration value="OVERWRITE"/>
	</xs:restriction>
</xs:simpleType>

<!-- Maps to the lttng_event_output enum -->
<xs:simpleType name="event_output_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="SPLICE"/>
		<xs:enumeration value="MMAP"/>
	</xs:restriction>
</xs:simpleType>

<!-- Maps to the lttng_loglevel_type enum -->
<xs:simpleType name="loglevel_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="ALL"/>
		<xs:enumeration value="RANGE"/>
		<xs:enumeration value="SINGLE"/>
	</xs:restriction>
</xs:simpleType>

<!-- Maps to the lttng_event_type enum -->
<xs:simpleType name="event_type_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="ALL"/>
		<xs:enumeration value="TRACEPOINT"/>
		<xs:enumeration value="PROBE"/>
		<xs:enumeration value="USERSPACE_PROBE"/>
		<xs:enumeration value="FUNCTION"/>
		<xs:enumeration value="FUNCTION_ENTRY"/>
		<xs:enumeration value="NOOP"/>
		<xs:enumeration value="SYSCALL"/>
		<xs:enumeration value="KPROBE"/>
		<xs:enumeration value="KRETPROBE"/>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="event_probe_attributes_type">
	<xs:all>
		<xs:element name="symbol_name" type="name_type" minOccurs="0"/>
		<xs:element name="address" type="uint64_type" minOccurs="0"/>
		<xs:element name="offset" type="uint64_type" minOccurs="0"/>
	</xs:all>
</xs:complexType>

<!-- Trace format versions -->
<xs:simpleType name="trace_format_type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="CTF_1_8"/>
    <xs:enumeration value="CTF_2"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="userspace_probe_lookup_method">
	<xs:restriction base="xs:string">
		<xs:enumeration value="DEFAULT"/>
		<xs:enumeration value="ELF"/>
		<xs:enumeration value="SDT"/>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="event_userspace_probe_function_attributes_type">
	<xs:all>
		<xs:element name="lookup_method" type="userspace_probe_lookup_method"/>
		<xs:element name="binary_path" type="xs:string"/>
		<xs:element name="function_name" type="xs:string"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="event_userspace_probe_tracepoint_attributes_type">
	<xs:all>
		<xs:element name="lookup_method" type="userspace_probe_lookup_method"/>
		<xs:element name="binary_path" type="xs:string"/>
		<xs:element name="probe_name" type="xs:string"/>
		<xs:element name="provider_name" type="xs:string"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="event_ftrace_attributes_type">
	<xs:all>
		<xs:element name="symbol_name" type="name_type"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="event_attributes_type">
	<xs:choice>
		<xs:element name="probe_attributes" type="event_probe_attributes_type"/>
		<xs:element name="function_attributes" type="event_ftrace_attributes_type"/>
		<xs:element name="userspace_probe_function_attributes" type="event_userspace_probe_function_attributes_type"/>
		<xs:element name="userspace_probe_tracepoint_attributes" type="event_userspace_probe_tracepoint_attributes_type"/>
	</xs:choice>
</xs:complexType>

<xs:complexType name="event_exclusion_list_type">
	<xs:sequence>
		<xs:element name="exclusion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="event_type">
	<xs:all>
		<xs:element name="name" type="name_type" minOccurs="0"/>
		<xs:element name="enabled" type="xs:boolean" default="true" minOccurs="0"/>
		<xs:element name="type" type="event_type_type" default="TRACEPOINT" minOccurs="0"/>
		<xs:element name="loglevel_type" type="loglevel_type" default="ALL" minOccurs="0"/>
		<xs:element name="loglevel" type="xs:int" default="-1" minOccurs="0"/>
		<xs:element name="filter" type="xs:string" minOccurs="0"/>
		<xs:element name="exclusions" type="event_exclusion_list_type" minOccurs="0"/>
		<xs:element name="attributes" type="event_attributes_type" minOccurs="0"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="event_list_type">
	<xs:sequence>
		<xs:element name="event" type="event_type" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="event_perf_context_type">
	<xs:all>
		<xs:element name="type" type="uint32_type"/>
		<xs:element name="config" type="uint64_type"/>
		<xs:element name="name" type="name_type"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="event_app_context_type">
	<xs:all>
	  <xs:element name="provider_name" type="xs:string"/>
	  <xs:element name="ctx_name" type="xs:string"/>
	</xs:all>
</xs:complexType>

<!-- Maps to the lttng_event_context_type enum -->
<xs:simpleType name="event_context_type_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="PID"/>
		<xs:enumeration value="PROCNAME"/>
		<xs:enumeration value="PRIO"/>
		<xs:enumeration value="NICE"/>
		<xs:enumeration value="VPID"/>
		<xs:enumeration value="TID"/>
		<xs:enumeration value="VTID"/>
		<xs:enumeration value="PPID"/>
		<xs:enumeration value="VPPID"/>
		<xs:enumeration value="PTHREAD_ID"/>
		<xs:enumeration value="HOSTNAME"/>
		<xs:enumeration value="IP"/>
		<xs:enumeration value="APP"/>
		<xs:enumeration value="INTERRUPTIBLE" />
		<xs:enumeration value="PREEMPTIBLE" />
		<xs:enumeration value="NEED_RESCHEDULE" />
		<xs:enumeration value="MIGRATABLE" />
		<xs:enumeration value="CALLSTACK_USER" />
		<xs:enumeration value="CALLSTACK_KERNEL" />
		<xs:enumeration value="CPU_ID" />
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="event_context_type">
	<xs:choice>
		<xs:element name="type" type="event_context_type_type"/>
		<xs:element name="perf" type="event_perf_context_type"/>
		<xs:element name="app" type="event_app_context_type"/>
	</xs:choice>
</xs:complexType>

<xs:complexType name="event_context_list_type">
	<xs:sequence>
		<xs:element name="context" type="event_context_type" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="channel_reclaim_policy_type_periodic">
	<xs:all>
		<xs:element name="age_threshold" type="positive_uint64_type"/>
	</xs:all>
</xs:complexType>

<xs:simpleType name="channel_reclaim_policy_type_consumed">
	<xs:restriction base="xs:string">
		<xs:maxLength value="0"/>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="channel_reclaim_policy_type">
	<xs:choice>
		<xs:element name="periodic" type="channel_reclaim_policy_type_periodic"/>
		<xs:element name="consumed" type="channel_reclaim_policy_type_consumed"/>
	</xs:choice>
</xs:complexType>

<!-- Maps to struct lttng_channel -->
<xs:complexType name="channel_type">
	<xs:all>
		<xs:element name="name" type="name_type"/>
		<xs:element name="enabled" type="xs:boolean" default="true" minOccurs="0"/>
		<xs:element name="overwrite_mode" type="channel_overwrite_mode_type" default="DISCARD" minOccurs="0"/>
		<xs:element name="subbuffer_size" type="uint64_type" minOccurs="0"/> <!-- bytes -->
		<xs:element name="subbuffer_count" type="uint64_type" default="4" minOccurs="0"/>
		<xs:element name="switch_timer_interval" type="uint32_type" default="0" minOccurs="0"/>  <!-- usec -->
		<xs:element name="read_timer_interval" type="uint32_type"/>  <!-- usec -->
		<xs:element name="blocking_timeout" type="blocking_timeout_type" default="0" minOccurs="0" /> <!-- usec -->
		<xs:element name="output_type" type="event_output_type"/>
		<xs:element name="tracefile_size" type="uint64_type" default="0" minOccurs="0"/> <!-- bytes -->
		<xs:element name="tracefile_count" type="uint64_type" default="0" minOccurs="0"/>
		<xs:element name="live_timer_interval" type="uint32_type" default="0" minOccurs="0"/> <!-- usec -->
		<xs:element name="events" type="event_list_type" minOccurs="0"/>
		<xs:element name="contexts" type="event_context_list_type" minOccurs="0"/>
		<xs:element name="monitor_timer_interval" type="uint64_type" default="0" minOccurs="0"/>  <!-- usec -->
		<xs:element name="watchdog_timer_interval" type="uint64_type" default="0" minOccurs="0"/>  <!-- usec -->
		<xs:element name="allocation_policy" type="channel_allocation_policy_type" default="PER_CPU" minOccurs="0"/>
		<xs:element name="preallocation_policy" type="channel_preallocation_policy_type" default="PREALLOCATE" minOccurs="0"/>
		<xs:element name="reclaim_policy" type="channel_reclaim_policy_type" minOccurs="0"/>
	</xs:all>
</xs:complexType>

<!-- Maps to the lttng_domain_type enum -->
<xs:simpleType name="domain_type_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="KERNEL"/>
		<xs:enumeration value="UST"/>
		<xs:enumeration value="JUL"/>
		<xs:enumeration value="LOG4J"/>
		<xs:enumeration value="LOG4J2"/>
		<xs:enumeration value="PYTHON"/>
	</xs:restriction>
</xs:simpleType>

<!-- Maps to the lttng_buffer_type enum -->
<xs:simpleType name="domain_buffer_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="PER_PID"/>
		<xs:enumeration value="PER_UID"/>
		<xs:enumeration value="GLOBAL"/>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="channel_list_type">
	<xs:sequence>
		<xs:element name="channel" type="channel_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<!--
Maps to lttng::sessiond::config::map_channel_configuration::key_type_t.
-->
<xs:simpleType name="map_channel_key_type_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="STRING" />
	</xs:restriction>
</xs:simpleType>

<!-- Maps to lttng::sessiond::config::map_channel_configuration::value_type_t -->
<xs:simpleType name="map_channel_value_type_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="SIGNED_INT_32" />
		<xs:enumeration value="SIGNED_INT_64" />
		<xs:enumeration value="SIGNED_INT_MAX" />
	</xs:restriction>
</xs:simpleType>

<!-- Maps to lttng::sessiond::config::map_channel_configuration::update_policy_t -->
<xs:simpleType name="map_channel_update_policy_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="PER_EVENT" />
		<xs:enumeration value="PER_RULE_MATCH" />
	</xs:restriction>
</xs:simpleType>

<!-- Maps to lttng::sessiond::config::ownership_model_t (user space map channels) -->
<xs:simpleType name="map_channel_buffer_ownership_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="PER_UID" />
		<xs:enumeration value="PER_PID" />
	</xs:restriction>
</xs:simpleType>

<!-- Maps to lttng::sessiond::config::map_channel_configuration::dead_group_policy_t -->
<xs:simpleType name="map_channel_dead_group_policy_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="DROP" />
		<xs:enumeration value="SUM_INTO_SHARED" />
	</xs:restriction>
</xs:simpleType>

<!-- Maps to lttng::sessiond::config::map_channel_configuration -->
<xs:complexType name="map_channel_type">
	<xs:all>
		<xs:element name="name" type="name_type"/>
		<xs:element name="key_type" type="map_channel_key_type_type"/>
		<xs:element name="value_type" type="map_channel_value_type_type"/>
		<xs:element name="update_policy" type="map_channel_update_policy_type"/>
		<xs:element name="max_entry_count" type="uint64_type"/>
		<!-- User space only -->
		<xs:element name="buffer_ownership" type="map_channel_buffer_ownership_type" minOccurs="0"/>
		<!-- User space, per-PID only -->
		<xs:element name="dead_group_policy" type="map_channel_dead_group_policy_type" minOccurs="0"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="map_channel_list_type">
	<xs:sequence>
		<xs:element name="map_channel" type="map_channel_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="pid_value_type">
	<xs:choice minOccurs="0">
		<xs:element name="id" type="xs:integer" />
	</xs:choice>
</xs:complexType>

<!-- Maps to a list of pid_process_attr_values-->
<xs:complexType name="pid_process_attr_values_type">
	<xs:sequence>
		<xs:choice minOccurs="0" maxOccurs="unbounded" >
			<xs:element name="pid" type="pid_value_type" />
		</xs:choice>
	</xs:sequence>
</xs:complexType>

<!-- Maps to a pid_process_attr_tracker-->
<xs:complexType name="pid_process_attr_tracker_type">
	<xs:all>
		<xs:element name="process_attr_values" type="pid_process_attr_values_type" />
	</xs:all>
</xs:complexType>

<xs:complexType name="vpid_value_type">
	<xs:all>
		<xs:element name="id" type="xs:integer" />
	</xs:all>
</xs:complexType>

<!-- Maps to a list of vpid_process_attr_values-->
<xs:complexType name="vpid_process_attr_values_type">
	<xs:sequence>
		<xs:element name="vpid" type="vpid_value_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<!-- Maps to a pid_process_attr_tracker-->
<xs:complexType name="vpid_process_attr_tracker_type">
	<xs:all>
		<xs:element name="process_attr_values" type="vpid_process_attr_values_type" />
	</xs:all>
</xs:complexType>

<xs:complexType name="uid_value_type">
	<xs:choice>
		<xs:element name="id" type="xs:integer" />
		<xs:element name="name" type="xs:string" />
	</xs:choice>
</xs:complexType>

<!-- Maps to a list of uid_process_attr_values-->
<xs:complexType name="uid_process_attr_values_type">
	<xs:sequence>
		<xs:element name="uid" type="uid_value_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<!-- Maps to a uid_process_attr_tracker-->
<xs:complexType name="uid_process_attr_tracker_type">
	<xs:all>
		<xs:element name="process_attr_values" type="uid_process_attr_values_type" />
	</xs:all>
</xs:complexType>

<xs:complexType name="vuid_value_type">
	<xs:choice>
		<xs:element name="id" type="xs:integer" />
		<xs:element name="name" type="xs:string" />
	</xs:choice>
</xs:complexType>

<!-- Maps to a list of vuid_process_attr_values-->
<xs:complexType name="vuid_process_attr_values_type">
	<xs:sequence>
		<xs:element name="vuid" type="vuid_value_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<!-- Maps to a vuid_process_attr_tracker-->
<xs:complexType name="vuid_process_attr_tracker_type">
	<xs:all>
		<xs:element name="process_attr_values" type="vuid_process_attr_values_type" />
	</xs:all>
</xs:complexType>

<xs:complexType name="gid_value_type">
	<xs:choice>
		<xs:element name="id" type="xs:integer" />
		<xs:element name="name" type="xs:string" />
	</xs:choice>
</xs:complexType>

<!-- Maps to a list of gid_process_attr_values-->
<xs:complexType name="gid_process_attr_values_type">
	<xs:sequence>
		<xs:element name="gid" type="gid_value_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<!-- Maps to a gid_process_attr_tracker-->
<xs:complexType name="gid_process_attr_tracker_type">
	<xs:all>
		<xs:element name="process_attr_values" type="gid_process_attr_values_type" />
	</xs:all>
</xs:complexType>

<xs:complexType name="vgid_value_type">
	<xs:choice>
		<xs:element name="id" type="xs:integer" />
		<xs:element name="name" type="xs:string" />
	</xs:choice>
</xs:complexType>

<!-- Maps to a list of vgid_process_attr_values-->
<xs:complexType name="vgid_process_attr_values_type">
	<xs:sequence>
		<xs:element name="vgid" type="vgid_value_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<!-- Maps to a vgid_process_attr_tracker-->
<xs:complexType name="vgid_process_attr_tracker_type">
	<xs:all>
		<xs:element name="process_attr_values" type="vgid_process_attr_values_type" />
	</xs:all>
</xs:complexType>

<!-- Maps to a list of trackers-->
<xs:complexType name="process_attr_tracker_type">
	<xs:sequence>
		<xs:choice minOccurs="0" maxOccurs="unbounded" >
			<xs:element name="pid_process_attr_tracker" type="pid_process_attr_tracker_type" maxOccurs="1" />
			<xs:element name="vpid_process_attr_tracker" type="vpid_process_attr_tracker_type" maxOccurs="1" />
			<xs:element name="uid_process_attr_tracker" type="uid_process_attr_tracker_type" maxOccurs="1" />
			<xs:element name="vuid_process_attr_tracker" type="vuid_process_attr_tracker_type" maxOccurs="1" />
			<xs:element name="gid_process_attr_tracker" type="gid_process_attr_tracker_type" maxOccurs="1" />
			<xs:element name="vgid_process_attr_tracker" type="vgid_process_attr_tracker_type" maxOccurs="1" />
		</xs:choice>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="pid_target_type">
	<xs:all>
		<xs:element name="pid" type="xs:integer" />
	</xs:all>
</xs:complexType>

<!-- Maps to a list of pid_targets (legacy)-->
<xs:complexType name="targets_type">
	<xs:sequence>
		<xs:choice>
			<xs:element name="pid_target" type="pid_target_type" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
	</xs:sequence>
</xs:complexType>

<!-- Maps to a pid_tracker (legacy)-->
<xs:complexType name="pid_tracker_type">
	<xs:all>
		<xs:element name="targets" type="targets_type" />
	</xs:all>
</xs:complexType>

<!-- Maps to a list of trackers (legacy)-->
<xs:complexType name="trackers_type">
	<xs:sequence minOccurs="0" maxOccurs="unbounded">
		<xs:element name="pid_tracker" type="pid_tracker_type" maxOccurs="1" />
	</xs:sequence>
</xs:complexType>

<!-- Maps to struct lttng_domain, contains channels and pid_process_attr_tracker -->
<xs:complexType name="domain_type">
	<xs:all>
		<xs:element name="type" type="domain_type_type"/>
		<xs:element name="buffer_type" type="domain_buffer_type"/>
		<xs:element name="channels" type="channel_list_type" minOccurs="0"/>
		<xs:element name="map_channels" type="map_channel_list_type" minOccurs="0"/>
		<xs:element name="process_attr_trackers" type="process_attr_tracker_type" minOccurs="0"/>
		<!-- Support of legacy tracker specification -->
		<xs:element name="trackers" type="trackers_type" minOccurs="0"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="periodic_rotation_schedule_type">
	<xs:all>
		<xs:element name="time_us" type="uint64_type" minOccurs="0" />
	</xs:all>
</xs:complexType>

<xs:complexType name="size_threshold_rotation_schedule_type">
	<xs:all>
		<xs:element name="bytes" type="uint64_type" minOccurs="0" />
	</xs:all>
</xs:complexType>

<xs:complexType name="rotation_schedule_type">
	<xs:sequence>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="periodic" type="periodic_rotation_schedule_type" maxOccurs="unbounded" />
			<xs:element name="size_threshold" type="size_threshold_rotation_schedule_type" maxOccurs="unbounded" />
		</xs:choice>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="session_attributes_type">
	<xs:all>
		<xs:element name="snapshot_mode" type="xs:boolean" minOccurs="0"/>
		<xs:element name="live_timer_interval" type="uint32_type" minOccurs="0"/> <!-- usec -->
		<xs:element name="rotation_schedules" type="rotation_schedule_type" minOccurs="0" />
	</xs:all>
</xs:complexType>

<xs:complexType name="domain_list_type">
	<xs:sequence>
		<xs:element name="domain" type="domain_type" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="net_output_type">
	<xs:all>
		<xs:element name="control_uri" type="xs:string"/>
		<xs:element name="data_uri" type="xs:string"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="destination_type">
	<xs:choice>
		<xs:element name="path" type="xs:string"/>
		<xs:element name="net_output" type="net_output_type"/>
	</xs:choice>
</xs:complexType>

<xs:complexType name="consumer_output_type">
	<xs:all>
		<xs:element name="enabled" type="xs:boolean" default="true"/>
		<xs:element name="destination" type="destination_type"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="snapshot_output_type">
	<xs:all>
		<xs:element name="name" type="name_type"/>
		<xs:element name="max_size" type="uint64_type"/>
		<xs:element name="consumer_output" type="consumer_output_type"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="snapshot_output_list_type">
	<xs:sequence>
		<xs:element name="output" type="snapshot_output_type" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="session_output_type">
	<xs:choice>
		<xs:element name="snapshot_outputs" type="snapshot_output_list_type"/>
		<xs:element name="consumer_output" type="consumer_output_type"/>
	</xs:choice>
</xs:complexType>

<xs:complexType name="session_type">
	<xs:all>
		<xs:element name="name" type="name_type"/>
		<xs:element name="shared_memory_path" type="xs:string" minOccurs="0"/>
		<xs:element name="trace_format" type="trace_format_type" minOccurs="0"/>
		<xs:element name="domains" type="domain_list_type" minOccurs="0"/>
		<xs:element name="started" type="xs:boolean" default="0" minOccurs="0"/>
		<xs:element name="attributes" type="session_attributes_type" minOccurs="0"/>
		<xs:element name="output" type="session_output_type" minOccurs="0"/>
	</xs:all>
</xs:complexType>

<!-- Trigger configuration types -->

<xs:simpleType name="ratio_type">
	<xs:restriction base="xs:double">
		<xs:minInclusive value="0" />
		<xs:maxInclusive value="1" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="event_rule_kernel_syscall_emission_site">
	<xs:restriction base="xs:string">
		<xs:enumeration value="entry+exit" />
		<xs:enumeration value="entry" />
		<xs:enumeration value="exit" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="userspace_probe_location_function_instrumentation">
	<xs:restriction base="xs:string">
		<xs:enumeration value="ENTRY" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="map_channel_type_type">
	<xs:restriction base="xs:string">
		<xs:enumeration value="kernel" />
		<xs:enumeration value="user" />
	</xs:restriction>
</xs:simpleType>

<!-- Maps to a lttng_rate_policy -->
<xs:element name="rate_policy_sub_type" abstract="true"/>
<xs:element name="rate_policy_every_n" type="rate_policy_every_n_type" substitutionGroup="rate_policy_sub_type" />
<xs:element name="rate_policy_once_after_n" type="rate_policy_once_after_n_type" substitutionGroup="rate_policy_sub_type" />
<xs:complexType name="rate_policy_every_n_type">
	<xs:all>
		<xs:element name="interval" type="uint64_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="rate_policy_once_after_n_type">
	<xs:all>
		<xs:element name="threshold" type="uint64_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="rate_policy_type">
	<xs:all>
		<xs:element ref="rate_policy_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to a lttng_action -->
<xs:element name="action_sub_type" abstract="true"/>
<xs:element name="action_list" type="action_list_type" substitutionGroup="action_sub_type" />
<xs:element name="action_notify" type="action_notify_type" substitutionGroup="action_sub_type" />
<xs:element name="action_rotate_session" type="action_rotate_session_type" substitutionGroup="action_sub_type" />
<xs:element name="action_snapshot_session" type="action_snapshot_session_type" substitutionGroup="action_sub_type" />
<xs:element name="action_start_session" type="action_start_session_type" substitutionGroup="action_sub_type" />
<xs:element name="action_stop_session" type="action_stop_session_type" substitutionGroup="action_sub_type" />
<xs:element name="action_increment_map_value" type="action_increment_map_value_type" substitutionGroup="action_sub_type" />
<xs:complexType name="action_list_type">
	<xs:sequence>
		<xs:element name="action" type="action_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>
<xs:complexType name="action_notify_type">
	<xs:all>
		<xs:element name="rate_policy" type="rate_policy_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="action_rotate_session_type">
	<xs:all>
		<xs:element name="rate_policy" type="rate_policy_type" minOccurs="1" />
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="action_snapshot_output_type">
	<xs:all>
		<xs:element name="max_size" type="uint64_type" minOccurs="0" />
		<xs:element name="name" type="name_type" minOccurs="0" />
		<xs:element name="session_name" type="name_type" minOccurs="0" />
		<xs:element name="ctrl_url" type="xs:string" minOccurs="0" />
		<xs:element name="data_url" type="xs:string" minOccurs="0" />
	</xs:all>
</xs:complexType>
<xs:complexType name="action_snapshot_session_type">
	<xs:all>
		<xs:element name="rate_policy" type="rate_policy_type" minOccurs="1" />
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
		<xs:element name="output" type="action_snapshot_output_type" minOccurs="0" />
	</xs:all>
</xs:complexType>
<xs:complexType name="action_start_session_type">
	<xs:all>
		<xs:element name="rate_policy" type="rate_policy_type" minOccurs="1" />
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="action_stop_session_type">
	<xs:all>
		<xs:element name="rate_policy" type="rate_policy_type" minOccurs="1" />
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<!--
This type intentionally omits the rate_policy element of the MI schema: the
"increment map value" action MI serialization does not write one.
-->
<xs:complexType name="action_increment_map_value_type">
	<xs:all>
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
		<xs:element name="channel_type" type="map_channel_type_type" minOccurs="1" />
		<xs:element name="channel_name" type="xs:string" minOccurs="1" />
		<xs:element name="key_template" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="action_type">
	<xs:all>
		<xs:element ref="action_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to a lttng_kernel_probe_location -->
<xs:element name="kernel_probe_location_sub_type" abstract="true"/>
<xs:element name="kernel_probe_location_address" type="kernel_probe_location_address_type" substitutionGroup="kernel_probe_location_sub_type" />
<xs:element name="kernel_probe_location_symbol_offset" type="kernel_probe_location_symbol_offset_type" substitutionGroup="kernel_probe_location_sub_type" />
<xs:complexType name="kernel_probe_location_address_type">
	<xs:all>
		<xs:element name="address" type="uint64_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="kernel_probe_location_symbol_offset_type">
	<xs:all>
		<xs:element name="name" type="xs:string" minOccurs="1" />
		<xs:element name="offset" type="uint64_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="kernel_probe_location_type">
	<xs:all>
		<xs:element ref="kernel_probe_location_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to a lttng_userspace_probe_location -->
<xs:element name="userspace_probe_location_sub_type" abstract="true"/>
<xs:element name="userspace_probe_location_function" type="userspace_probe_location_function_type" substitutionGroup="userspace_probe_location_sub_type" />
<xs:element name="userspace_probe_location_tracepoint" type="userspace_probe_location_tracepoint_type" substitutionGroup="userspace_probe_location_sub_type" />
<xs:element name="userspace_probe_location_lookup_method_sub_type" abstract="true"/>
<xs:element name="userspace_probe_location_lookup_method_function_default" substitutionGroup="userspace_probe_location_lookup_method_sub_type"> <xs:complexType/> </xs:element>
<xs:element name="userspace_probe_location_lookup_method_function_elf" substitutionGroup="userspace_probe_location_lookup_method_sub_type"> <xs:complexType/> </xs:element>
<xs:element name="userspace_probe_location_lookup_method_tracepoint_sdt" substitutionGroup="userspace_probe_location_lookup_method_sub_type"> <xs:complexType/> </xs:element>
<xs:complexType name="userspace_probe_location_lookup_method_type">
	<xs:all>
		<xs:element ref="userspace_probe_location_lookup_method_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="userspace_probe_location_function_type">
	<xs:all>
		<xs:element name="name" type="xs:string" minOccurs="1" />
		<xs:element name="binary_path" type="xs:string" minOccurs="1" />
		<xs:element name="instrumentation_type" type="userspace_probe_location_function_instrumentation" minOccurs="1" />
		<xs:element name="userspace_probe_location_lookup_method" type="userspace_probe_location_lookup_method_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="userspace_probe_location_tracepoint_type">
	<xs:all>
		<xs:element name="probe_name" type="xs:string" minOccurs="1" />
		<xs:element name="provider_name" type="xs:string" minOccurs="1" />
		<xs:element name="binary_path" type="xs:string" minOccurs="1" />
		<xs:element name="userspace_probe_location_lookup_method" type="userspace_probe_location_lookup_method_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="userspace_probe_location_type">
	<xs:all>
		<xs:element ref="userspace_probe_location_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to a lttng_log_level_rule -->
<xs:element name="log_level_rule_sub_type" abstract="true"/>
<xs:element name="log_level_rule_exactly" type="log_level_rule_generic_type" substitutionGroup="log_level_rule_sub_type" />
<xs:element name="log_level_rule_at_least_as_severe_as" type="log_level_rule_generic_type" substitutionGroup="log_level_rule_sub_type" />
<xs:complexType name="log_level_rule_generic_type">
	<xs:all>
		<xs:element name="level" type="xs:integer" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="log_level_rule_type">
	<xs:all>
		<xs:element ref="log_level_rule_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to a lttng_event_rule -->
<xs:element name="event_rule_sub_type" abstract="true"/>
<xs:element name="event_rule_jul_logging" type="event_rule_logging_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_kernel_kprobe" type="event_rule_kernel_kprobe_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_kernel_syscall" type="event_rule_kernel_syscall_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_kernel_tracepoint" type="event_rule_kernel_tracepoint_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_kernel_uprobe" type="event_rule_kernel_uprobe_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_log4j_logging" type="event_rule_logging_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_log4j2_logging" type="event_rule_logging_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_python_logging" type="event_rule_logging_type" substitutionGroup="event_rule_sub_type" />
<xs:element name="event_rule_user_tracepoint" type="event_rule_user_tracepoint_type" substitutionGroup="event_rule_sub_type" />
<xs:complexType name="event_rule_kernel_kprobe_type">
	<xs:all>
		<xs:element name="event_name" type="xs:string" minOccurs="1" />
		<xs:element name="kernel_probe_location" type="kernel_probe_location_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_rule_kernel_syscall_type">
	<xs:all>
		<xs:element name="emission_site" type="event_rule_kernel_syscall_emission_site" minOccurs="1" />
		<xs:element name="name_pattern" type="xs:string" minOccurs="1" />
		<xs:element name="filter_expression" type="xs:string" minOccurs="0" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_rule_kernel_tracepoint_type">
	<xs:all>
		<xs:element name="name_pattern" type="xs:string" minOccurs="1" />
		<xs:element name="filter_expression" type="xs:string" minOccurs="0" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_rule_kernel_uprobe_type">
	<xs:all>
		<xs:element name="event_name" type="xs:string" minOccurs="1" />
		<xs:element name="userspace_probe_location" type="userspace_probe_location_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_rule_logging_type">
	<xs:all>
		<xs:element name="name_pattern" type="xs:string" minOccurs="1" />
		<xs:element name="filter_expression" type="xs:string" minOccurs="0" />
		<xs:element name="log_level_rule" type="log_level_rule_type" minOccurs="0" />
	</xs:all>
</xs:complexType>
<xs:complexType name="name_pattern_exclusions_type">
	<xs:sequence>
		<xs:element name="name_pattern_exclusion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="event_rule_user_tracepoint_type">
	<xs:all>
		<xs:element name="name_pattern" type="xs:string" minOccurs="1" />
		<xs:element name="filter_expression" type="xs:string" minOccurs="0" />
		<xs:element name="log_level_rule" type="log_level_rule_type" minOccurs="0" />
		<xs:element name="name_pattern_exclusions" type="name_pattern_exclusions_type" minOccurs="0" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_rule_type">
	<xs:all>
		<xs:element ref="event_rule_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to a lttng_condition -->
<xs:element name="condition_sub_type" abstract="true" />
<xs:element name="condition_buffer_usage_high" type="condition_buffer_usage_type" substitutionGroup="condition_sub_type" />
<xs:element name="condition_buffer_usage_low" type="condition_buffer_usage_type" substitutionGroup="condition_sub_type" />
<xs:element name="condition_event_rule_matches" type="condition_event_rule_matches_type" substitutionGroup="condition_sub_type" />
<xs:element name="condition_session_consumed_size" type="condition_session_consumed_size_type" substitutionGroup="condition_sub_type" />
<xs:element name="condition_session_rotation_completed" type="condition_session_rotation_type" substitutionGroup="condition_sub_type" />
<xs:element name="condition_session_rotation_ongoing" type="condition_session_rotation_type" substitutionGroup="condition_sub_type" />
<xs:element name="buffer_usage_threshold_sub_type" abstract="true" />
<xs:element name="threshold_bytes" type="uint64_type" substitutionGroup="buffer_usage_threshold_sub_type" />
<xs:element name="threshold_ratio" type="ratio_type" substitutionGroup="buffer_usage_threshold_sub_type" />
<xs:complexType name="condition_buffer_usage_type">
	<xs:all>
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
		<xs:element name="channel_name" type="xs:string" minOccurs="1" />
		<xs:element name="domain" type="domain_type_type" minOccurs="1" />
		<xs:element ref="buffer_usage_threshold_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to a lttng_event_expr (capture descriptor) -->
<xs:element name="event_expr_sub_type" abstract="true" />
<xs:element name="event_expr_payload_field" type="event_expr_payload_field_type" substitutionGroup="event_expr_sub_type" />
<xs:element name="event_expr_channel_context_field" type="event_expr_channel_context_field_type" substitutionGroup="event_expr_sub_type" />
<xs:element name="event_expr_app_specific_context_field" type="event_expr_app_specific_context_field_type" substitutionGroup="event_expr_sub_type" />
<xs:element name="event_expr_array_field_element" type="event_expr_array_field_element_type" substitutionGroup="event_expr_sub_type" />
<xs:complexType name="event_expr_payload_field_type">
	<xs:all>
		<xs:element name="name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_expr_channel_context_field_type">
	<xs:all>
		<xs:element name="name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_expr_app_specific_context_field_type">
	<xs:all>
		<xs:element name="provider_name" type="xs:string" minOccurs="1" />
		<xs:element name="type_name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_expr_array_field_element_type">
	<xs:all>
		<xs:element name="index" type="uint64_type" minOccurs="1" />
		<xs:element name="event_expr" type="event_expr_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="event_expr_type">
	<xs:all>
		<xs:element ref="event_expr_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="capture_descriptors_type">
	<xs:sequence>
		<xs:element name="event_expr" type="event_expr_type" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="condition_event_rule_matches_type">
	<xs:all>
		<xs:element name="capture_descriptors" type="capture_descriptors_type" minOccurs="1" />
		<xs:element name="event_rule" type="event_rule_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="condition_session_consumed_size_type">
	<xs:all>
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
		<xs:element name="threshold_bytes" type="uint64_type" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="condition_session_rotation_type">
	<xs:all>
		<xs:element name="session_name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>
<xs:complexType name="condition_type">
	<xs:all>
		<xs:element ref="condition_sub_type" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to an lttng_trigger -->
<xs:complexType name="trigger_type">
	<xs:all>
		<xs:element name="action" type="action_type" minOccurs="1" />
		<xs:element name="condition" type="condition_type" minOccurs="1" />
		<xs:element name="name" type="xs:string" minOccurs="1" />
	</xs:all>
</xs:complexType>

<!-- Maps to lttng_triggers -->
<xs:complexType name="triggers_type">
	<xs:sequence>
		<xs:element name="trigger" type="trigger_type" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<xs:element name="sessions">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="session" type="session_type" maxOccurs="unbounded"/>
			<xs:element name="triggers" type="triggers_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
